@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-iowan;
  }
}

.iowan-regular {
  font-family: var(--font-iowan), serif;
  font-weight: 400;
  font-style: normal;
}

.iowan-bold {
  font-family: var(--font-iowan), serif;
  font-weight: 700;
  font-style: normal;
}

.iowan-regular-italic {
  font-family: var(--font-iowan), serif;
  font-weight: 400;
  font-style: italic;
}

.iowan-bold-italic {
  font-family: var(--font-iowan), serif;
  font-weight: 700;
  font-style: italic;
}

